<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joye Cafe - Home Page</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tai+Le&family=Roboto+Condensed&family=Rubik&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Bebas+Neue&family=Caudex&family=Marcellus&family=Jost:wght@400;500&family=League+Spartan:wght@400;500&family=Catamaran:wght@300;400;500&family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=Playfair+Display:wght@500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kita.fontawesome.com/f88525de2e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="home">
        <div id="header"></div>

        <div id="banner">
          <img src="/public/img/background.png">
          <div class="bannerBox">
              <div class='bannerTitle'>
                  <h2>Coffee</h2>
                  <h2>The Best For You</h2>
                  <p>Sip perfection at Joye Café – crafted coffee, cozy ambiance. Your ideal brew awaits!</p>
                  <button class="explore">
                      <span>Khám phá</span>
                      <span class="material-symbols-outlined">
                          trending_flat
                      </span>
                  </button>
              </div>
              <div class="banner">
                  <img src="/public/img/banner.png">
              </div>
          </div>
  
          <div class="shape">
              <img src="/public/img/grape.png">
          </div>
      </div>
  
      <div class="categories">
          <h1>Danh mục</h1>
          <div class="categoryBox"></div>
      </div>
  
      <div class="carousel">
          <div class="carousel_slider">
              <div id="slide-wrapper">
                  <span id="slideLeft" class="material-symbols-outlined">
                      keyboard_backspace
                  </span>
                  <div id="slide">
                      <div class="thumbnail">
                          <span class="material-symbols-outlined">
                              airplane_ticket
                          </span>
                          <div>
                              <h3>MIỄN PHÍ VẬN CHUYỂN</h3>
                              <p>Với đơn hàng hơn 500.000VND</p>
                          </div>
                      </div>
  
                      <div class="thumbnail">
                          <span>
                              <img src="/public/img/icon1.png">
                          </span>
                          <div>
                              <h3>100% CHẤT LƯỢNG</h3>
                              <p>Cà phê được pha bằng cách rang hạt cà phê tươi trước tiên.</p>
                          </div>
                      </div>
  
                      <div class="thumbnail">
                          <span>
                              <img src="/public/img/icon2.png">
                          </span>
                          <div>
                              <h3>HƯƠNG THƠM TUYỆT VỜI</h3>
                              <p>Cà phê được pha bằng cách rang hạt cà phê tươi trước tiên.</p>
                          </div>
                      </div>
  
                      <div class="thumbnail">
                          <span class="material-symbols-outlined">
                              featured_seasonal_and_gifts
                          </span>
                          <div>
                              <h3>THẺ QUÀ TẶNG</h3>
                              <p>Cà phê được pha bằng cách rang hạt cà phê tươi trước tiên.</p>
                          </div>
                      </div>
  
                      <div class="thumbnail">
                          <span class="material-symbols-outlined">
                              headset_mic
                          </span>
                          <div>
                              <h3>24/7 DỊCH VỤ KHÁCH HÀNG</h3>
                              <p>Cà phê được pha bằng cách rang hạt cà phê tươi trước tiên.</p>
                          </div>
                      </div>
  
                      <div class="thumbnail">
                          <span class="material-symbols-outlined">
                              wallet
                          </span>
                          <div>
                              <h3>THANH TOÁN KHI GIAO HÀNG</h3>
                              <p>Cà phê được pha bằng cách rang hạt cà phê tươi trước tiên.</p>
                          </div>
                      </div>
  
                      <div class="thumbnail">
                          <span class="material-symbols-outlined">
                              <img src="/public/img/ICON3.png">
                          </span>
                          <div>
                              <h3>RANG ĐÚNG CÁCH</h3>
                              <p>Cà phê được pha bằng cách rang hạt cà phê tươi trước tiên.</p>
                          </div>
                      </div>
  
                  </div>
                  <span id="slideRight" class="material-symbols-outlined">
                      trending_flat
                  </span>
              </div>
          </div>
      </div>
  
      <div id="latestProduct">
        <h2 class="latestProductTitle">Sản phẩm mới nhất</h2>
        <div class="latestProductBox"></div>
      </div>
  
      <div class="section">
          <img width="100%" height="400px" src="/public/img/content6.jpg">
          <div class="img1">
              <img height="450px" src="/public/img/content5.png">
          </div>
          <div class="img2">
              <img width="150px" src="/public/img/content8.png">
          </div>
  
          <div class="section-content">
              <h1>JOYE CAFÉ</h1>
              <img src="/public/img/content7.png">
              <p>Made using only the finest coding & design practices there are, Corretto is sure to make a perfect
                  main ingredient for creating an irresistible coffee shop website.</p>
          </div>
      </div>
  
      <div id="promoProducts">
        <h2 class="promoTitle">Sản phẩm khuyến mãi</h2>
        <div class="promoProductBox">
            <!-- <% for(let p of promoProducts) { %>
                <% const calcPercent = Math.floor(((p.promo_price * 100)/p.price)/10) %>
                <a class="promoItem" href="/products/detail/<%= p._id %>">
                    <img src="/img/<%= p.img_url %>" width="320" height="300">
                    <div class="percent">-<%= calcPercent %>%</div>
                    <h2><%= p.name %></h2>
                    <div class="promoPrices">
                        <h3><%= p.promo_price.toLocaleString() %></h3>
                        <h4>
                            <del><%= p.price.toLocaleString() %></del>
                        </h4>
                    </div>
                    <div class="promoBtns">
                        <button class="addToCart">
                            <p>Add to cart</p>
                            <span><%= p.id %></span>
                            <span class="material-symbols-outlined">
                                trending_flat
                            </span>
                        </button>

                        <button class="likes">
                            <span><%= p.likes %></span>
                            <span class="material-symbols-outlined">
                                favorite
                            </span>
                        </button>
                    </div>
                </a>
            <% } %> -->
        </div>
      </div>
  
      <div class="booking">
          <form>
              <h1>Book a Table</h1>
              <img src="/public/img/content7.png">
              <h3>"Good ideas start with brainstorming</h3>
              <h3>Great ideas start with coffee"</h3>
              <div class="bookingBox">
                  <div class="groupControl">
                      <input type="text" name="fname" placeholder="Name*" required>
                  </div>
  
                  <div class="groupControl">
                      <input type="number" name="phone" placeholder="Phone*" required>
                  </div>
              </div>
  
              <div class="bookingBox">
                  <div class="groupControl">
                      <input type="email" name="email" placeholder="Email*" required>
                  </div>
  
                  <div class="groupControl">
                      <input type="number" name="seats" placeholder="Seats*" required>
                  </div>
              </div>
  
              <button class="bookingBtn" type="submit">
                  <span>MAKE A RESERVATION</span>
              </button>
          </form>
          <div class="interior">
              <img width="600px" src="/public/img/img1.jpg" />
          </div>
      </div>

      <div id="footer"></div>
    </div>

    <script src="/public/js/carousel.js"></script>
    <script src="/public/js/footer.js"></script>
    <script type="module" src="/public/js/header.js"></script>
    <script type="module" src="/public/js/home.js"></script>
</body> 

</html>